{{<layout}}

{{$pageTitle}}Application complete{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row">


{{>includes/leftcol}}


<div class="column-two-thirds">

 

<h1 class="form-title heading-large">
      Thank you for your application
    </h1>


<form action="/" method="post" class="form">

	
 <div class="form-group">
	   <p class="font-medium">Your claim is now being processed.</p>
	       
	       
	       <h2 class="heading-medium">Next</h2>
	       
	       <p>An Access to Work adviser will be contacting you before next Tuesday.</p>
	       
	       <h2 class="heading-medium">After that</h2>
	       
	       <p>An assessment at your place of work may then be necessary which will happen during the following ten days.</p>
	       
 </div>


    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <ul>
		<li><a href="index" class="button">Make a new claim</a></li>
      </ul>
    </div>

  </form>
  
</div>




</main>

{{/content}}

{{/layout}}

