@media screen and (max-width: 700px) {
	
	.carers-allowance {

		
		.form-elements {
		
			legend {
				font-size: 20px!important;
			}
			
			label {
				font-size: 18px!important;
			}
			
			.helper {
				font-size: 16px!important;
			}
			
			.question-group {
				legend {
					font-size: 18px!important;
				}
			}
			
			.inline {
				label {
					font-size: 16px!important;
				}
			}
			
			p {
				font-size: 16px;
			}
			
			.info {
				p {
					font-size: 16px;
				}
			}
			
			.radio {
				label {
					span {
						font-size: 16px!important;
					}
				}
			}
			
			dl {
					font-size: 16px!important;
				}
				
			.eligibility-prompt {
				p {
					font-size: 16px!important;
				}
			}	
				
			
		}
		
		
		.left-col {
			
			h2 {
				font-size: 20px;
			}
			
			p {
				font-size: 16px;
			}
			
		}
		
	
		article {

			
			h1 {
				font-size: 24px;
			}
			
			.intro-info {
				font-size: 16px!important;
			}
			
			
			.section-progress {
				font-size: 18px;
			}
			
			.form-steps {
				button {
					font-size: 16px!important;
				}
			}
			
		}
		
		
		.e-prompt {
				li, p {
					font-size: 16px!important;
				}
				h2 {
					font-size: 20px!important;
				}
			}
			
		.validation-summary {
			h2 {
				font-size: 20px;
			}
			p {
				font-size: 16px;
			}
			a {
				font-size: 16px!important;
			}
		}	
		
	
	}
	
}