{{<layout}}

{{$pageTitle}}Can you get an Access to Work grant?{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row">




<div class="column-two-thirds">

 

<h1 class="form-title heading-xlarge">
	  Access to Work
    </h1>
    

<nav class="intro-nav">
  	<ol>
	  	<li class="font-xsmall">
            <span class="part-number">1.</span>
            <a href="intro" title="Part 1: Overview">Overview</a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">2.</span>
            <a href="intro2" title="Part 2: Eligibility">Eligibility</a>
          </li>
		  <li class="font-xsmall">
            <span class="part-number">3.</span>
            <a href="intro3" title="Part 3: What you'll get">What you'll get</a>
          </li>
          <li class="active font-xsmall">
            <span class="part-number">4.</span>
            <span>Apply</span>
          </li>
    </ol>
</nav>


<div class="intro-content">
	<h2 class="heading-medium">4. Apply</h2>

	<p>You can apply for an Access to Work grant online.</p>
	<p>You'll need:</p>
	
	<ul class="list-bullet">
	  <li>your National Insurance number</li>
	  <li>your workplace address</li>
	  <li>the details of someone at your work who can  be contacted if you need a workplace assessment, eg your manager</li>
	  <li>your unique tax reference number, if you’re self-employed</li>
	  <li>the name of your New Enterprise Allowance mentor, if you have one</li>
	</ul>
	
	<p><a href="disclaimer" class="button button-get-started">Start now</a></p>


</div>

 	<div class="intro-next">
 		  <a href="intro3" class="first" rel="next" title="Navigate to previous part">Previous<span class="pagination-part-title">What you'll get</span></a>

       </div>
   
</div>


<div class="column-third help-margin">
      <h2 class="bold-medium intro-right">Elsewhere on GOV.UK</h2>
      	<ul class="intro-right-nav">
		  		<li>
                  <a href="#">Reasonable adjustments for disabled workers</a>
                </li>
              
                <li>
                  <a href="#">Definition of disability under the Equality Act 2010</a>
                </li>
              
                <li>
                  <a href="#">Disability rights</a>
                </li>
              
                <li>
                  <a href="#">Looking for work if you're disabled</a>
                </li>
              
              
            </ul>
    </div>



</main>

{{/content}}

{{/layout}}

