{{<layout}}

{{$pageTitle}}Can you get an Access to Work grant?{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row">



{{>includes/leftcol}}


<div class="column-two-thirds">

 

<h1 class="form-title heading-large">
	  <span class="section-progress">Section 1 of 7</span>
      Can you get an Access to Work grant?
    </h1>
    


<form action="/" method="post" class="form">
    
     <div class="form-group">
	    <fieldset class="inline">
	    <legend class="form-label-bold">Do you have a disability?</legend>
	    <div class="form-group form-group-compound">
	      <label class="block-label" for="eligibility1-yes">
	        <input id="eligibility1-yes" type="radio" name="radio-indent-group" value="Yes">
	        Yes
	      </label>
	      <label class="block-label" for="eligibility1-no" data-target="eligibility-q1">
	        <input id="eligibility1-no" type="radio" name="radio-indent-group" value="No">
	        No
	      </label>
	    </div>
	    <div class="panel-indent error-prompt js-hidden" id="eligibility-q1">
	      <p>You'll only get an Access to Work grant if you have a disability.</p>
	    </div>
	  </fieldset>
     </div>
     
     <div class="form-group">
	    <fieldset class="inline">
	    <legend class="form-label-bold">Are you 16 or over?</legend>
	    <div class="form-group form-group-compound">
	      <label class="block-label" for="eligibility2-yes">
	        <input id="eligibility2-yes" type="radio" name="radio-indent-group1" value="Yes">
	        Yes
	      </label>
	      <label class="block-label" for="eligibility2-no" data-target="eligibility-q2">
	        <input id="eligibility2-no" type="radio" name="radio-indent-group1" value="No">
	        No
	      </label>
	    </div>
	    <div class="panel-indent error-prompt js-hidden" id="eligibility-q2">
	      <p>You'll only get an Access to Work grant if you're 16 or over.</p>
	    </div>
	  </fieldset>
     </div>
     
     <div class="form-group">
	    <fieldset class="inline">
	    <legend class="form-label-bold">Do you live in England, Scotland or Wales?</legend>
	    <div class="form-group form-group-compound">
	      <label class="block-label" for="eligibility3-yes">
	        <input id="eligibility3-yes" type="radio" name="radio-indent-group2" value="Yes">
	        Yes
	      </label>
	      <label class="block-label" for="eligibility3-no" data-target="eligibility-q3">
	        <input id="eligibility3-no" type="radio" name="radio-indent-group2" value="No">
	        No
	      </label>
	    </div>
	    <div class="panel-indent error-prompt js-hidden" id="eligibility-q3">
	      <p>You'll only get an Access to Work grant if you live in England, Scotland or Wales.</p>
	    </div>
	  </fieldset>
     </div>
     
     <div class="form-group">
	    <fieldset class="inline">
	    <legend class="form-label-bold">Do you already work or are about to start work in England, Scotland or Wales?</legend>
		<p class="helper above">This includes if you have a job interview.</p>
	    <div class="form-group form-group-compound">
	      <label class="block-label" for="eligibility4-yes">
	        <input id="eligibility4-yes" type="radio" name="radio-indent-group3" value="Yes">
	        Yes
	      </label>
	      <label class="block-label" for="eligibility4-no" data-target="eligibility-q4">
	        <input id="eligibility4-no" type="radio" name="radio-indent-group3" value="No">
	        No
	      </label>
	    </div>
	    <div class="panel-indent error-prompt js-hidden" id="eligibility-q4">
	      <p>You'll only get an Access to Work grant for a job in England, Scotland or Wales.</p>
	    </div>
	  </fieldset>
     </div>
     
     <!--
     <div class="form-group js-hidden" id="eligibility-q4">
	    <fieldset class="inline">
	    <legend class="form-label-bold">Do you have an interview for a job in England, Scotland or Wales?</legend>
	    <div class="form-group form-group-compound">
	      <label class="block-label" for="eligibility5-yes">
	        <input id="eligibility5-yes" type="radio" name="radio-indent-group4" value="Yes">
	        Yes
	      </label>
	      <label class="block-label" for="eligibility5-no" data-target="eligibility-q5">
	        <input id="eligibility5-no" type="radio" name="radio-indent-group4" value="No">
	        No
	      </label>
	    </div>
	    <div class="panel-indent error-prompt js-hidden" id="eligibility-q5">
	      <p>You are only eligible for an Access to Work grant if you have an interview for a job in England, Scotland or Wales.</p>
	    </div>
	  </fieldset>
     </div>
	 -->     


    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <ul>
		<li><a href="disclaimer" class="button">Next</a></li>
        <li><a href="index">Back</a></li>
      </ul>
    </div>

  </form>
  
</div>


</main>

{{/content}}

{{/layout}}

