{{<layout}}

{{$pageTitle}}Disclaimer{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row">


{{>includes/leftcol}}


<div class="column-two-thirds">

 

<h1 class="form-title heading-large">
      Disclaimer
    </h1>
    


<form action="/" method="post" class="form">
    
     <div class="form-group">
	 	
	 	<p class="font-small">To get an Access to Work grant you must be:</p>
	 	   
 	    <ul class="list-bullet">
			<li>16 or over</li>
			<li>have a disability that makes it difficult for you to do your current job or a job you're about to start</li>
			<li>live and work in England, Scotland or Northern Ireland</li>
	   </ul>
	  	<p class="font-small">You might not be eligible if you already get one or more of the following:</p>
		<ul class="list-bullet">
			<li>Employment and Support Allowance</li>
			<li>Incapacity Benefit</li>
			<li>Income Support</li>
			<li>severe disability allowance</li>
		</ul>

	   <p class="font-small">As part of the application process Department for Work & Pensions will contact your employer. Your employer could have to 
	   pay some of your grant, depending on how much you get.</p>
	   <p class="font-small">An assessor might have to visit you at work to make a decision.</p>
	   
     </div>



    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <ul>
		<li><a href="aboutyou1" class="button">I understand - start my application</a></li>
        <li><a href="start">Back</a></li>
      </ul>
    </div>

  </form>
  
</div>




</main>

{{/content}}

{{/layout}}

