{{<layout}}

{{$pageTitle}}Can you get an Access to Work grant?{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row">




<div class="column-two-thirds">

 

<h1 class="form-title heading-xlarge">
	  Access to Work
    </h1>
    

<nav class="intro-nav">
  	<ol>
	  	<li class="font-xsmall">
            <span class="part-number">1.</span>
            <a href="intro" title="Part 1: Overview">Overview</a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">2.</span>
            <a href="intro2" title="Part 2: Eligibility">Eligibility</a>
          </li>
		  <li class="active font-xsmall">
            <span class="part-number">3.</span>
            <span>What you'll get</span>
          </li>
          <li class="font-xsmall">
            <span class="part-number">4.</span>
            <a href="intro4" title="Part 4: How to claim">Apply</a>
          </li>
    </ol>
</nav>


<div class="intro-content">
	<h2 class="heading-medium">3. What you'll get</h2>
	<p>How much money you'll get depends on your condition and how much help you need.</p>

	<p>The money can pay for things like:</p>

	<ul class="list-bullet">
	  	<li>adaptations to the equipment you use</li>
		<li>special equipment</li>
		<li>fares to work if you can't use public transport</li>
		<li>a support worker or job coach to help you in your workplace</li>
		<li>a support service, if you have a mental health condition</li>
		<li>disability awareness training for your colleagues</li>
		<li>someone to help you communicate at a job interview</li>
		<li>the cost of moving your equipment if you change location or job</li>
	</ul>

	<h2 class="heading-medium">Changes to Access to Work from 1 October 2015</h2>
	<p>From 1 October 2015 the maximum Access to Work grant that can be awarded is &pound;40,800.</p>
<p>If your grant was awarded before 1 October 2015 and is worth more than &pound;40,800 it will be reduced to the maximum limit in April 2018.</p>
	</ul>


</div>

 	<div class="intro-next">
 		  <a href="intro2" class="first" rel="next" title="Navigate to previous part">Previous<span class="pagination-part-title">Eligibility</span></a>
          <a href="intro4" rel="next" title="Navigate to next part">Next<span class="pagination-part-title">How to claim</span></a>
       </div>
   
</div>


<div class="column-third help-margin">
      <h2 class="bold-medium intro-right">Elsewhere on GOV.UK</h2>
      	<ul class="intro-right-nav">
		  		<li>
                  <a href="#">Reasonable adjustments for disabled workers</a>
                </li>
              
                <li>
                  <a href="#">Definition of disability under the Equality Act 2010</a>
                </li>
              
                <li>
                  <a href="#">Disability rights</a>
                </li>
              
                <li>
                  <a href="#">Looking for work if you're disabled</a>
                </li>
              
              
            </ul>
    </div>



</main>

{{/content}}

{{/layout}}

