{{<layout}}

{{$pageTitle}}Can you get an Access to Work grant?{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row">




<div class="column-two-thirds">

 

<h1 class="form-title heading-xlarge">
	  Access to Work
    </h1>
    

<nav class="intro-nav">
  	<ol>
	  	<li class="font-xsmall">
            <span class="part-number">1.</span>
            <a href="intro" title="Part 1: Overview">Overview</a>
          </li>
          <li class="active font-xsmall">
            <span class="part-number">2.</span>
            <span>Eligibility</span>
          </li>
		  <li class="font-xsmall">
            <span class="part-number">3.</span>
            <a href="intro3" title="Part 3: What you'll get">What you'll get</a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">4.</span>
            <a href="intro4" title="Part 4: How to claim">Apply</a>
          </li>
    </ol>
</nav>


<div class="intro-content">
	<h2 class="heading-medium">2. Eligibility</h2>
	<p>Access to Work grants are only available if the employer is based in England, Scotland or Wales. There's a different system in <a href="http://www.nidirect.gov.uk/access-to-work-practical-help-at-work">Northern Ireland.</a></p>
	
	<p>You must be 16 or over and either:</p>

<ul class="list-bullet">
	  <li>about to start a job or work trial</li>
	  <li>in a paid job or self-employed (you can’t get a grant for voluntary work)</li>
</ul>

<p>You might also qualify if you’re getting <a href="https://www.gov.uk/new-enterprise-allowance" target="_blank">New Enterprise Allowance</a> or starting work experience under a <a href="https://www.gov.uk/moving-from-benefits-to-work/job-search-programmes" target="_blank">Youth Contract</a>.</p>


<h2 class="heading-medium">Your condition</h2>
<p>Your disability or health condition must affect your ability to do a job or mean you have to pay work-related costs. For example, if you need to buy computer equipment or have to take taxis because you can’t use public transport.</p>

<p>If you're claiming because of a mental health condition it must affect your ability to do a job. You must also need support to:</p>

	
	<ul class="list-bullet">
	  <li>start a new job</li>
	  <li>reduce absence from work</li>
	  <li>stay in work</li>
	</ul>
	
	
<h2 class="heading-medium">Exceptions</h2>
<p>You might not qualify if you get any of these benefits:</p>

<ul class="list-bullet">
	  <li>Incapacity Benefit</li>
	  <li>Employment and Support Allowance</li>
	  <li>Severe Disability Allowance</li>
	  <li>Income Support</li>
	  <li>National Insurance Credits</li>
</ul>

<h2 class="heading-medium">Changing jobs</h2>
<p>You can take any special equipment that's been paid for with an Access to Work Grant with you if you change jobs. If you get regular grants (eg for travel to work) you'll have to apply again for your new job.</p>


</div>

 	<div class="intro-next">
 		  <a href="intro" class="first" rel="next" title="Navigate to previous part">Previous<span class="pagination-part-title">Overview</span></a>
          <a href="intro3" rel="next" title="Navigate to next part">Next<span class="pagination-part-title">What you'll get</span></a>
       </div>
   
</div>


<div class="column-third help-margin">
      <h2 class="bold-medium intro-right">Elsewhere on GOV.UK</h2>
      	<ul class="intro-right-nav">
		  		<li>
                  <a href="#">Reasonable adjustments for disabled workers</a>
                </li>
              
                <li>
                  <a href="#">Definition of disability under the Equality Act 2010</a>
                </li>
              
                <li>
                  <a href="#">Disability rights</a>
                </li>
              
                <li>
                  <a href="#">Looking for work if you're disabled</a>
                </li>
              
              
            </ul>
    </div>



</main>

{{/content}}

{{/layout}}

