{{<layout}}

{{$pageTitle}}About your disability{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row">




{{>includes/leftcol}}


<div class="column-two-thirds">

 

<h1 class="form-title heading-large">
	<span class="section-progress">Section 4 of 4</span>
      About your condition
    </h1>


<form action="/" method="post" class="form">

	

		    <div class="form-group">
		  		<label class="form-label-bold" for="disability-name">Name of your condition or disability (if known)</label>
			    <input class="form-control" type="text" id="disability-name">
		  	</div>

  	<div class="form-group">
  			
		  	<fieldset class="inline">
			    <legend class="form-label-bold">Does this condition affect your travel to or from work?</legend>
			    <div class="form-group form-group-compound">
			      <label class="block-label" data-target="descriptions" for="radio-indent-3partyyes">
			        <input id="radio-indent-3partyyes" type="radio" name="radio-indent-group" value="Yes">
			        Yes
			      </label>
			      <label class="block-label" for="radio-indent-3partyno">
			        <input id="radio-indent-3partyno" type="radio" name="radio-indent-group" value="No">
			        No
			      </label>
			    </div>
			    <div class="panel-indent js-hidden" id="descriptions">
			    	
			    	<div class="form-group">
				      <label class="form-label" for="effect1">How does your condition affect your journey to or from work?</label>
				      <textarea class="form-control" id="effect1"></textarea>
				  	</div>
				  	
				  	<div class="form-group">
				      <label class="form-label" for="coping1">How do you currently overcome these difficulties?</label>
				      <textarea class="form-control" id="coping1"></textarea>
				  	</div>
			    	
			    	<div class="form-group">
				      <label class="form-label" for="help1">What, if anything, do you think would help you?</label>
				      <textarea class="form-control" id="help1"></textarea>
				  	</div>
			    	
			    	
			    </div>
			  </fieldset>

  	</div>
  	
  	<div class="form-group">
  			
		  	<fieldset class="inline">
			    <legend class="form-label-bold">Does this condition affect you at work?</legend>
			    <div class="form-group form-group-compound">
			      <label class="block-label" data-target="effects" for="radio-indent4yes">
			        <input id="radio-indent4yes" type="radio" name="radio-indent-group2" value="Yes">
			        Yes
			      </label>
			      <label class="block-label" for="radio-indent4no">
			        <input id="radio-indent4no" type="radio" name="radio-indent-group2" value="No">
			        No
			      </label>
			    </div>
			    <div class="panel-indent js-hidden" id="effects">
			    	
			    	<div class="form-group">
				      <label class="form-label" for="affect2">How does your condition affect you at work?</label>
				      <textarea class="form-control" id="effect2"></textarea>
				  	</div>
				  	
				  	<div class="form-group">
				      <label class="form-label" for="coping2">How do you currently overcome these difficulties?</label>
				      <textarea class="form-control" id="coping2"></textarea>
				  	</div>
			    	
			    	<div class="form-group">
				      <label class="form-label" for="help2">What, if anything, do you think would help you?</label>
				      <textarea class="form-control" id="help2"></textarea>
				  	</div>
			    	
			    	
			    </div>
			  </fieldset>

  	</div>
  	
  	
  



    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <ul>
		<li><a href="declaration" class="button">Next</a></li>
        <li><a href="aboutjob2">Back</a></li>
      </ul>
    </div>

  </form>
  
</div>




</main>

{{/content}}

{{/layout}}

