{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Access to Work</h1>


	<h2 class="heading-large">Pages</h2>

	<ul>
		<li>
			<a href="/accesstowork/intro">Access to Work prototype</a>
		</li>
	</ul>

	<!-- <h2 class="heading-large">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/docs">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul> -->

</main>

{{/content}}

{{/layout}}
