{{<layout}}

{{$pageTitle}}Can you get an Access to Work grant?{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row">




<div class="column-two-thirds">

 

<h1 class="form-title heading-xlarge">
	  Access to Work
    </h1>
    

<nav class="intro-nav">
  	<ol>
	  	<li class="active font-xsmall">
            <span class="part-number">1.</span>
            <span>Overview</span>
          </li>
          <li class="font-xsmall">
            <span class="part-number">2.</span>
            <a href="intro2" title="Part 2: Eligibility">Eligibility</a>
          </li>
		  <li class="font-xsmall">
            <span class="part-number">3.</span>
            <a href="intro3" title="Part 3: What you'll get">What you'll get</a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">4.</span>
            <a href="intro4" title="Part 4: How to claim">Apply</a>
          </li>
    </ol>
</nav>


<div class="intro-content">
	<h2 class="heading-medium">1. Overview</h2>
	<p>You can apply for an Access to Work grant if you have a disability or health condition that makes it difficult for you to work.</p>
	<p>The money is to pay for <a href="intro3">practical support</a> to help you: </p>
	
	<ul class="list-bullet">
	  <li>start working</li>
	  <li>keep working if you already have a job</li>
	  <li>get to and from work</li>
	  <li>move into self-employment or start a business</li>
	</ul>
	<p>The grant is not for business start-up costs.</p>
	
	<p>The money doesn’t have to be paid back and doesn't affect other benefits.</p>

</div>



 <div class="intro-next">
          <a href="intro2" rel="next" title="Navigate to next part">Next<span class="pagination-part-title">Eligibility</span></a>
       </div>
   
</div>


<div class="column-third help-margin">
      <h2 class="bold-medium intro-right">Elsewhere on GOV.UK</h2>
      	<ul class="intro-right-nav">
		  		<li>
                  <a href="#">Reasonable adjustments for disabled workers</a>
                </li>
              
                <li>
                  <a href="#">Definition of disability under the Equality Act 2010</a>
                </li>
              
                <li>
                  <a href="#">Disability rights</a>
                </li>
              
                <li>
                  <a href="#">Looking for work if you're disabled</a>
                </li>
              
              
            </ul>
    </div>



</main>

{{/content}}

{{/layout}}

