{{<layout}}

{{$pageTitle}}About your job{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row">




{{>includes/leftcol}}


<div class="column-two-thirds">

 

<h1 class="form-title heading-large">
	<span class="section-progress">Section 3 of 4</span>
      About your job
    </h1>
    


<form action="/" method="post" class="form">

	<div class="form-group">
	  	<label class="form-label-bold" for="job-title">Your business</label>
		<input class="form-control" type="text" id="job-title">
	</div>

	<div class="form-group">
	    <fieldset class="inline">
	    <legend class="form-label-bold">Is your work address different to your home address?</legend>
	    <div class="form-group form-group-compound">
			<label class="block-label" for="eligibility1-yes" data-target="eligibility-q1">
				<input id="eligibility1-yes" type="radio" name="radio-indent-group" value="Yes">
				Yes
			</label>
			<label class="block-label" for="eligibility1-no">
				<input id="eligibility1-no" type="radio" name="radio-indent-group" value="No">
				No
			</label>
	    </div>
	    <div class="panel-indent error-prompt js-hidden" id="eligibility-q1">
			<div class="form-group">
			  	 <fieldset>    
				    <div class="form-group">
				    	<p class="form-label">Your work address</p>
				      <label class="form-label"><input type="text" class="form-control" id="address-line1"></label>
				      <label class="form-label"><input type="text" class="form-control" id="address-line2"></label>
				      <label class="form-label"><input type="text" class="form-control" id="address-line3"></label>
				  	</div>	  	
				  	<div class="form-group">
				  	  <label class="form-label" for="address">Postcode</label>
				  	  <input type="text" class="form-control-1-4" id="postcode">
				  	</div>  	
			  	</fieldset> 
			</div>	      
	    </div>
	  </fieldset>
    </div>

    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <ul>
		<li><a href="aboutdisability" class="button">Next</a></li>
        <li><a href="aboutjob">Back</a></li>
      </ul>
    </div>

  </form>
  
</div>




</main>

{{/content}}

{{/layout}}

