{{<layout}}

{{$pageTitle}}About your job{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row">




{{>includes/leftcol}}


<div class="column-two-thirds">

 

<h1 class="form-title heading-large">
	<span class="section-progress">Section 3 of 4</span>
      About your job
    </h1>
    


<form action="/" method="post" class="form">

	
   <div class="form-group">
  	 <fieldset id="employment-status">
	    <legend class="form-label-bold">Employment status</legend>
	    <div class="form-group form-group-compound">
	      <label class="block-label" for="employed">
	        <input id="employed" type="radio" name="status" value="Employed" data-dest="employed">
	        Employed
	      </label>
	      <label class="block-label" for="self-employed">
	        <input id="self-employed" type="radio" name="status" value="Self" data-dest="self-employed">
	        Self-employed
	      </label>
	      <label class="block-label" for="ltd">
	        <input id="ltd" type="radio" name="status" value="Director of a limited company" data-dest="limited-company">
	        Director of a limited company
	      </label>
	    </div>

	  </fieldset>
  	</div>


    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <ul>
		<li><a href="aboutjob2" class="button" id="nextbutton">Next</a></li>
        <li><a href="thirdparty">Back</a></li>
      </ul>
    </div>

  </form>
  
</div>

</main>

{{/content}}

{{/layout}}

