{{<layout}}

{{$pageTitle}}Can you get an Access to Work grant?{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>




<div class="grid-row">



{{>includes/leftcol}}




<div class="column-two-thirds">

 

<h1 class="form-title heading-large">
	  <span class="section-progress">Section 1 of 7</span>
      Can you get an Access to Work grant?
    </h1>
    


<form action="/" method="post" class="form">
    
   <div class="form-group">
      
	    <fieldset class="inline">
	    <legend class="form-label-bold">Do you currently receive any benefits?</legend>
	    <div class="form-group form-group-compound">
	      <label class="block-label" for="benefits-yes" data-target="benefits">
	        <input id="benefits-yes" type="radio" name="radio-indent-group1" value="Yes">
	        Yes
	      </label>
	      <label class="block-label" for="benefits-no">
	        <input id="benefits-no" type="radio" name="radio-indent-group1" value="No">
	        No
	      </label>
	    </div>
	  </fieldset>
	  
	  <div class="panel-indent js-hidden" id="benefits">
	      
	      <fieldset>
		    <legend class="form-label-bold-inner">What benefits do you get?</legend>
		    <p>
		      Select all options that are relevant to you.
		    </p>
		    <div class="form-group form-group-compound">
		      <label class="block-label" for="jsa">
		        <input id="jsa" type="checkbox" value="JSA">
		        Job Seekers Allowance
		      </label>
		       <label class="block-label" for="incapacity">
		        <input id="incapacity" type="checkbox" value="Incapacity">
		        Incapacity benefit
		      </label>
		      <label class="block-label" for="severe">
		        <input id="severe" type="checkbox" value="severe">
		        Severe disability allowance
		      </label>
		      <label class="block-label" for="income">
		        <input id="income" type="checkbox" value="income">
		        Income support
		      </label>
		      <label class="block-label" for="employ">
		        <input id="employ" type="checkbox" value="employ">
		        Employment support allowance
		      </label>
		    </div>
		  </fieldset>
	      
	    </div>
	    
     </div>

     
     
     


    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <ul>
		<li><a href="start" class="button">Next</a></li>
      </ul>
    </div>

  </form>
  
</div>


</main>

{{/content}}

{{/layout}}

